{
  "AuthorizerFunction": {
    "API_ARN": "arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${ApiId}/Prod",
    "APP_ENVIRONMENT": "development",
    "COGNITO_ADMIN_GROUP_NAME": "Admin",
    "COGNITO_USER_POOL_ID": "${UserPoolId}",
    "DYNAMODB_ENDPOINT": "http://db:8000",
    "EVENT_NAME": "${EventName}"
  },
  "CallbackFunction": {
    "API_URL": "https://${ApiId}.execute-api.${AWS::Region}.amazonaws.com/Prod",
    "APP_ENVIRONMENT": "development",
    "DYNAMODB_ENDPOINT": "http://db:8000",
    "EVENT_NAME": "${EventName}"
  },
  "ChoiceWriterFunction": {
    "APP_ENVIRONMENT": "development",
    "DYNAMODB_ENDPOINT": "http://db:8000",
    "DYNAMODB_TABLE_NAME": "local-enchanted-brain",
    "EVENT_NAME": "${EventName}"
  },
  "OnChoiceMadeFunction": {
    "APP_ENVIRONMENT": "development",
    "CALLBACK_SNS_TOPIC_ARN": "arn:aws:sns:${AWS::Region}:${AWS::AccountId}:development-enchanted-brain-callback",
    "CHOICE_MADE_SNS_TOPIC_ARN": "arn:aws:sns:${AWS::Region}:${AWS::AccountId}:development-enchanted-brain-choice-made",
    "DYNAMODB_ENDPOINT": "http://db:8000",
    "EVENT_NAME": "${EventName}"
  },
  "OnConnectFunction": {
    "APP_ENVIRONMENT": "development",
    "CALLBACK_FUNCTION_ARN": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:development-enchanted-brain-callback",
    "CALLBACK_SNS_TOPIC_ARN": "arn:aws:sns:${AWS::Region}:${AWS::AccountId}:development-enchanted-brain-callback",
    "CALLBACK_SQS_QUEUE_ARN_PREFIX": "arn:aws:sqs:${AWS::Region}:${AWS::AccountId}:development-enchanted-brain-callback",
    "DYNAMODB_ENDPOINT": "http://db:8000",
    "DYNAMODB_TABLE_NAME": "local-enchanted-brain",
    "EVENT_NAME": "${EventName}"
  },
  "OnDisconnectFunction": {
    "APP_ENVIRONMENT": "development",
    "DYNAMODB_ENDPOINT": "http://db:8000",
    "DYNAMODB_TABLE_NAME": "local-enchanted-brain",
    "EVENT_NAME": "${EventName}"
  },
  "OnEventStageChangedFunction": {
    "APP_ENVIRONMENT": "development",
    "CALLBACK_SNS_TOPIC_ARN": "arn:aws:sns:${AWS::Region}:${AWS::AccountId}:development-enchanted-brain-callback",
    "DYNAMODB_ENDPOINT": "http://db:8000",
    "DYNAMODB_TABLE_NAME": "local-enchanted-brain",
    "EVENT_NAME": "${EventName}"
  }
}
