[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
boto3 = "==1.9.182"
pytest = "~=4.5.0"
pytest-watch = "~=4.2.0"
python-jose = "~=3.0.1"

[packages]

[requires]
python_version = "3.7"

[scripts]
test = "pytest -v"
test-dev = "pytest-watch -- -v"
format = "black --verbose --target-version py37 ."
lint = "pipenv run format --check"
