[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
boto3 = "==1.9.42"
botocore = "==1.12.42"
pytest = "~=4.5.0"
requests = "==2.22.0"

[packages]

[requires]
python_version = "3.7"

[scripts]
test = "pytest -v"
format = "black --verbose --target-version py37 ."
lint = "pipenv run format --check"
